.row
  .bs-example
    = render :partial => 'questions/image', :locals => {:user => answer.user}
    = answer.user.twitter_handle 
    .pull-right
      - if user_signed_in?
        - if current_user == answer.user
          %span
            = link_to edit_question_answer_path(@question, answer), title: 'Edit' do
              %span.glyphicon.glyphicon-edit
          &nbsp
          %span
            = link_to question_answer_path(@question, answer), method: :delete, title: 'Remove', confirm: "Are you sure?" do
              %span.glyphicon.glyphicon-trash
          &nbsp
        - else
          %div{id: answer.id}
            = render 'vote', answer: answer
  %pre.highlight.prettyprint
    = answer.statement
