.row
  .bs-example
    = render :partial => 'image', :locals => {:user => @question.user}
    = link_to @question.user.twitter_handle, @question.user.twitter_url, :target => '_blank'
  %pre.highlight.prettyprint
    %h4
      =@question.statement
  .answer_box
  .pull-right
    %h5= link_to 'Add Answer', new_question_answer_path(@question), class: 'btn btn-primary', remote: true
- answers = @question.answers
- if answers.present? 
  %legend 
    %b Answers
  .all_answers
    = render partial: "question_show", collection: @question.answers, as: :answer
%legend 
  %b Comments
= render 'comment'
- if user_signed_in?
  = simple_form_for [@question, @comment] do |f|
    = render 'comments/form', f: f
